/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  height: 100vh;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Card */
.card {
  background-color: #1f1f1f;
  width: 340px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

/* Profile Image */
.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Name */
.card h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Location */
.location {
  color: #c4f82a;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Bio */
.bio {
  font-size: 14px;
  color: #d3d3d3;
  margin-bottom: 25px;
}

/* Social Links */
.social-links a {
  display: block;
  background-color: #333333;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-weight: bold;
  transition: 0.3s;
}

/* Hover Effect */
.social-links a:hover {
  background-color: #c4f82a;
  color: black;
}